.hidden {
    display: none !important;
}


main {
    margin-top: 70px;
}



.qtty-center {
    max-width: 150px;
    margin: 10px auto;
}



.no-gutter {
    margin: 0 !important;
    padding: 0 !important;
}
.cards.productsonsale{
    border: 1px solid #eee;   
    height: 270px;
}

.cards.productsonsale .card-body{
    padding: 5px;
}

.cards.productsonsale .h4, .cards.productsonsale h4 {
    font-size: 1.0rem;
}



.cards.productsonsale  .btn-number {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    margin-top: 3px;
}

.cards.productsonsale input.form-control.input-number {
    height: 30px;
    font-size: 12px;
    padding: 0;
}

.cards.productsonsale .btn .fa {
    position: relative;
    font-size: .5rem;
}

.cards.productsonsale .h5, .cards.productsonsale h5 {
    font-size: 1rem !important;
    font-weight: 400;
}


.truncate {
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-list {
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-number{
    text-align: center;
}


.cards.productsonsale  .card-img-top {
    height: 90px;
    width: auto;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 0 auto;
}